#!usr/bin/env zsh

# ==============================================
# 性能分析开启
# 🔗 https://gist.github.com/elalemanyo/cb3395af64ac23df2e0c3ded8bd63b2f
# ==============================================
if [[ -n "${ZSH_DEBUGRC}" ]]; then
  zmodload zsh/zprof
fi

# ==============================================
# 基础路径与环境变量
# ==============================================
source $ZDOTDIR/env.zsh
source $ZDOTDIR/alias.zsh

# ==============================================
# Module Preflight Configurations
# 必须在 source init.zsh 之前
# ==============================================
# 重定向补全文件
zstyle ':completion::complete:*' cache-path "${XDG_CACHE_HOME:-$HOME/.cache}/zsh/zcompcache"
# Zimfw 模块特定设置
zstyle ':zim:input' double-dot-expand yes
# ZVM 兼容性钩子
function zvm_after_init() {
  # ZVM_CURSOR_STYLE_ENABLED=false
  # 使insert光标保持原有的terminal的默认
  ZVM_INSERT_MODE_CURSOR=$ZVM_CURSOR_USER_DEFAULT
  autopair-init
}
# zsh-history-substring-search
function zvm_after_lazy_keybindings() {
  # 历史搜索键位绑定
  bindkey -M vicmd 'k' history-substring-search-up
  bindkey -M vicmd 'j' history-substring-search-down
}

# ===============================================
# Zimfw Initialize
# ===============================================
ZIM_HOME=${ZDOTDIR:-${HOME}}/.zim
# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
    https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi
# Initialize modules.
source ${ZIM_HOME}/init.zsh

# ===============================================
# 性能分析输出
# 执行以下命令来统计交互式Shell启动的时间：
#   `time ZSH_DEBUGRC=1 zsh -i -c exit`
# 输出解析：
#   ZSH_DEBUGRC=1 zsh -i -c exit 0.04s user 0.02s system 100% cpu 0.066 total
#   0.04s user: 这表示在用户模式下，Zsh 执行该命令花费了 0.04 秒。用户模式是指 CPU 执行用户代码的时间。
#   0.02s system: 这表示在内核模式下，Zsh 执行该命令花费了 0.02 秒。系统模式是指 CPU 执行系统调用的时间。
#   100% cpu: 这表示在执行该命令时，CPU 的使用率达到了 100%。这通常意味着在执行命令的过程中，CPU 的资源被完全利用。
#   0.066 total: 这表示从开始到结束的总时间为 0.066 秒。这是 Zsh 启动并执行 exit 命令所花费的总时间。
# ===============================================
if [ -n "${ZSH_DEBUGRC+1}" ]; then
  zprof
fi

# vim: ft=zsh
