stage {
  font-size: 13pt;
}

.panel-button {
  font-weight: 500;
}

StIcon {
  icon-size: 16px;
}


.calendar-day-base {
  font-size:11pt;
}

.calendar-day-heading {
font-size:12pt;
font-weight:600;
}

.calendar-month-label {
  font-size:14pt;
  font-weight:600;
}
