# ==========================================Zimfw Official Modules==========================================
# url👉https://github.com/zimfw/zimfw
zmodule archive
zmodule environment
zmodule git
zmodule termtitle
zmodule pacman
zmodule duration-info
zmodule git-info
zmodule prompt-pwd
zmodule sorin
# zmodule asciiship
# zmodule fzf
# zmodule magic-enter
# zmodule utility
#
# Applies correct bindkeys for input events.
# 关闭后使用zsh-vi-mode速度快多了
# zmodule input
# ==========================================Zimfw Community Modules==========================================
#
zmodule jeffreytse/zsh-vi-mode
zmodule kiesman99/zim-zoxide
# zmodule joke/zim-chezmoi
# zmodule joke/zim-starship

zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
