#!/usr/bin/zsh

if [ ! -f "${HOME}/.config/chezmoi/${USERNAME}.key" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    chezmoi age decrypt --output "${HOME}/.config/chezmoi/${USERNAME}.key" --passphrase "{{ .chezmoi.sourceDir }}/${USERNAME}.key.age"
    chmod 600 "${HOME}/.config/chezmoi/${USERNAME}.key"
fi
