// 默认的配置文件比较难读，可去以下地址读相关文档
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
keybinds {
    shared_except "locked" {
        bind "Alt t" { NewTab; }
        bind "Alt x" { CloseFocus; }
    }
}

// simplified_ui true
default_shell "zsh"
// pane_frames false
session_serialization false

themes {
    dracula1 {
        ribbon_unselected {
            base 248 248 242
            background 68 71 90
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        ribbon_selected {
            base 40 42 54
            background 189 147 249
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        text_unselected {
            base 248 248 242
            background 40 42 54
            emphasis_0 255 121 198
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        text_selected {
            base 40 42 54
            background 68 71 90
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        table_title {
            base 248 248 242
            background 68 71 90
            emphasis_0 255 121 198
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        table_cell_unselected {
            base 248 248 242
            background 40 42 54
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        table_cell_selected {
            base 40 42 54
            background 98 114 164
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        list_unselected {
            base 248 248 242
            background 40 42 54
            emphasis_0 255 121 198
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        list_selected {
            base 40 42 54
            background 98 114 164
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        frame_unselected {
            base 98 114 164
            background 40 42 54
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 189 147 249
        }
        frame_selected {
            base 189 147 249
            background 40 42 54
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        frame_highlight {
            base 255 121 198
            background 40 42 54
            emphasis_0 255 85 85
            emphasis_1 241 250 140
            emphasis_2 139 233 253
            emphasis_3 80 250 123
        }
        exit_code_success {
            base 80 250 123
            background 40 42 54
            emphasis_0 80 250 123
            emphasis_1 80 250 123
            emphasis_2 80 250 123
            emphasis_3 80 250 123
        }
        exit_code_error {
            base 255 85 85
            background 40 42 54
            emphasis_0 255 85 85
            emphasis_1 255 85 85
            emphasis_2 255 85 85
            emphasis_3 255 85 85
        }
    }
}

// theme "catppuccin-macchiato"
// theme "tokyo-night"
// theme "gruvbox-dark"
// theme "gruber-darker"
theme "dracula1"
// theme "everforest-dark"

// Default: "default"
default_layout "compact" 

// Default: normal
// default_mode "locked"

mouse_mode true
copy_command "wl-copy"                    // wayland
scrollback_editor "/usr/bin/nvim"
support_kitty_keyboard_protocol false
disable_session_metadata true
advanced_mouse_actions false

// show_release_notes false
show_startup_tips false

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
