# https://www.chezmoi.io/reference/special-files/chezmoiignore/
# Ignore the age keys in the directory
secrets/
secrets/keys/
secrets/keys/*

# Ignore external vscode setting file
# origin_settings.json
