# Using neovim's diff mode in chezmoi: https://www.chezmoi.io/user-guide/tools/merge/
# Example chezmoi.toml file 👉 https://github.com/twpayne/dotfiles/blob/master/home/.chezmoi.toml.tmpl

{{- /* 在go模板中，可以用{{"{{"}}来转义{{ */ -}}
# encryption 要被添加在最开始的位置

encryption = "age"

[merge]
    command = "nvim"
    args = [ "-d",
            {{ printf "%q" "{{ .Destination }}" }},
            {{ printf "%q" "{{ .Source }}" }},
            {{ printf "%q" "{{ .Target }}" }}, ]

[diff]
    command = "nvim"
    args = ["-d", "{{"{{"}} .Destination {{"}}"}}", "{{"{{"}} .Target {{"}}"}}"]
    exclude = ["scripts"]

# [status]
#    exclude = ["scripts"]

[data]
    name = "uzvg"
    email = "1497911983@qq.com"

[scriptEnv]
    AGE_KEY_DIR = "{{ .chezmoi.config.sourceDir }}/secrets/keys"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1tdeka5y0ykzutvst00sk30f0mrx8z45e42tv97h3xqnzn9us4v4qt7f87g"
