[user]
	name = {{ .name|quote }}
	email =  {{ .email|quote }}
[core]
	editor = nvim
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge "ours"]
	driver = true
[pull]
	rebase = true
