# 参考链接：
    # https://blog.hellowood.dev/posts/dae-proxy-configuration/
    # https://github.com/daeuniverse/dae/blob/main/example.dae

# 全局配置
global {
    # Log level: error, warn, info, debug, trace.
    log_level: info
    # log_level: debug
    # 代理流量的 LAN 接口
    # lan_interface: wlan0
    
    # 代理 WAN 接口，代理本机流量
    wan_interface: auto
    enable_local_tcp_fast_redirect: true

    # 代理模式：ip/domain/domain+/domain++
    dial_mode: domain
}

# DNS 配置
dns {
    # 上游 DNS
    # IPv6 在中国环境更容易污染 / 异常，优先选ipv4
    ipversion_prefer: 4
    upstream {
        # 阿里云 DNS，用于国内域名查询
        alidns: 'udp://223.5.5.5:53'
        # cfdns: 'tcp+udp://1.1.1.1:53'
        # cfdns: 'udp://1.1.1.1:53'
        googledns: 'tcp+udp://8.8.8.8:53'
    }

    # DNS 查询规则
    routing {
        request {
            # qtype(https, svcb) -> reject
            qname(geosite:category-ads-all) -> reject
            qname(geosite:cn) -> alidns
            fallback: googledns
        }

        response {
            # Trusted upstream. Always accept its result.
            upstream(googledns) -> accept
            # Possibly polluted, re-lookup using googledns.
            ip(geoip:private) && !qname(geosite:cn) -> googledns
            # fallback is also called default.
            fallback: accept
        }
    }
}

# 订阅地址
subscription {
    xingjiabi: '{{ include (joinPath .chezmoi.config.sourceDir "secrets/keys/xingjiabi_sub.txt.age") | decrypt | trim }}'
    new_google_v2: '{{ include (joinPath .chezmoi.config.sourceDir "secrets/keys/new_google_v2_sub.txt.age") | decrypt | trim }}'
}

# 节点分组
group {
    japan {
        filter: subtag(new_google_v2) && name(keyword: '日本')
        # filter: subtag(xingjiabi) && name(keyword: '日本')
        # Select the node with min moving average of latencies from the group for every connection.
        # policy: min_moving_avg
        policy: min_avg10
    }

    korea {
        filter: subtag(new_google_v2) && name(keyword: '韩国')
        # filter: subtag(xingjiabi) && name(keyword: '韩国')
        # Select the node with min moving average of latencies from the group for every connection.
        # policy: min_moving_avg
        policy: min_avg10
        check_tolerance: 200ms
    }

    america {
        filter: subtag(new_google_v2) && name(keyword: '美国')
        # filter: subtag(xingjiabi) && name(keyword: '美国')
        # Select the node with min moving average of latencies from the group for every connection.
        policy: min_moving_avg
        # policy: min_avg10
    }

    signapore {
        filter: subtag(new_google_v2) && name(keyword: '新加坡')
        # filter: subtag(xingjiabi) && name(keyword: '新加坡')
        # Select the node with min moving average of latencies from the group for every connection.
        policy: min_moving_avg
        # policy: min_avg10
    }
}

# 路由配置
# https://github.com/daeuniverse/dae/blob/main/docs/zh/configuration/routing.md
routing {
    pname('NetworkManager','systemd-resolved','dnsmasq') -> must_direct

    # DNS 地址或域名，强制直连
    dip(223.5.5.5) && dport(53) -> must_direct
    dip(8.8.8.8) && dport(53) -> japan
    dip(1.1.1.1) && dport(53) -> japan

    # 目标 IP 多播、广播地址，直连
    dip(224.0.0.0/3, 'ff00::/8') -> must_direct
    dip(geoip:cn) -> direct
    dip(geoip:private) -> direct
    domain(geosite:cn) -> direct
    domain(dazi.kukuw.com) -> direct

    # AI 域名，AI 分组代理
    # domain(geosite:google) -> proxy
    # domain(geosite:openai) -> proxy
    # domain(geosite:anthropic) -> proxy
    # domain(geosite:github) -> proxy
    # domain(geosite:archlinux) -> proxy
    # domain(full: code.visualstudio.com) -> proxy
    # domain(full: wallhaven.cc) -> proxy
    # domain(full: unsplash.com) -> proxy
    # domain(geosite:docker) -> proxy
    # domain(geosite:geolocation-!cn) -> proxy
    # 未命中上面的规则的走 proxy 代理
    fallback: japan
}
