[Unit]
Description=Run auto commit script every 15 minutes

[Timer]
# 开机1分钟后首次执行
OnBootSec=1min
# 之后每隔15分钟执行一次
OnUnitActiveSec=15min
# 如果机器在某个时间点没开机，它也会在下次开机后补一次运行
Persistent=true

[Install]
WantedBy=timers.target
