[Unit]
Description=Auto commit WikiSpace notes to Github
After=network.target

[Service]
Type=oneshot
ExecStart=/home/uzvg/.config/scripts/auto_commit.zsh
